<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Google Sheets Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/GoogleSheets/</directory>
            <exclude>
                <file>src/GoogleSheets/Providers/SheetsServiceProvider.php</file>
                <directory suffix=".php">src/GoogleSheets/Facades/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
